body{
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 1.7;
    color: #eb5424;
    background-color: #fff;
}

.company-logo{
    height: 45px;
    width: 195px;
}

.input-group{
    background-color: transparent;
}

#welcome-header{
    color: black;
    text-align: center;
    margin-top: 125px;
}

.form-group{
    margin-bottom: 10px;
    font-weight: 400;
}


#login-box{
  background-color: #f8f8f8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

#response-message{
    color: darkred;
    text-align: center;
}